* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
}

body {
  width: 500px;
  padding: 30px;
  background: rgb(207, 255, 253);
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
  color: rgb(244, 252, 255);
  min-height: 350px;
}

a {
  color: inherit;
  text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
  font-family: Arial, Helvetica, sans-serif;
}